.content {
    background-color: rgba(233, 233, 233, 0.553);
}

.dashboard-content {
    display: flex;
}

h1 {
    margin-bottom: 3em;
}

.dashboard-section {
    box-sizing: border-box;
    width: 33.3%;
    margin: 0.2em;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.12);
}

.section-header h2 {
    font-size: 1.5em;
    margin-top: 0.3em;
}

.task-content {
    background-color: white;
    margin: 5px 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: rgba(128, 128, 128, 0.436) 1.5px solid;
    padding: 0.5em;
    cursor: pointer;
}

.task-content h2 {
    font-size: 0.88em;
    margin: 0;
}

.task-content p {
    font-size: 0.85em;
    margin: 0;
}

.section-header {
    align-items: center;
    padding-left: 5px;
    border-width: 100%;
}

#dashboard-section-pending {
    border-top: lightblue 4px solid;
}

#dashboard-section-pending .task-content {
    border-top: lightblue 4px solid;
}

#dashboard-section-pending .task-content:hover {
    background-color: rgba(173, 216, 230, 0.3);
}

#dashboard-section-not-started {
    border-top: #df6f84c7 4px solid;
}

#dashboard-section-not-started .task-content {
    border-top: #df6f84c7 4px solid;
}

#dashboard-section-not-started .task-content:hover {
    background-color: rgba(223, 111, 132, 0.234);
}

#dashboard-section-in-progress {
    border-top: #F2D0A9 4px solid;
}

#dashboard-section-in-progress .task-content {
    border-top: #F2D0A9 4px solid;
}

#dashboard-section-in-progress .task-content:hover {
    background-color: rgba(242, 208, 169, 0.3);
}

#dashboard-section-done {
    border-top: rgb(82, 237, 82) 4px solid;
}

#dashboard-section-done .task-content {
    border-top: rgb(82, 237, 82) 4px solid;
}

#dashboard-section-done .task-content:hover {
    background-color: rgb(82, 237, 82, 0.3);
}

.section-header-color {
    height: 3px;
    margin: 0;
}

.section-content {
    padding: 3px;
    box-sizing: border-box;
    height: calc(100% - 3.26em - 6px);
}

#add-task {
    border: gray 0.5px solid;
    padding: 7px;
    font-size: 1em;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
}

#add-task:hover {
    background-color: rgb(240, 240, 240);
}

#plus-sign {
    color: gray;
    font-size: 1.6em;
    vertical-align: middle;
}

#overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1001;
}

#add-task-prompt {
    display: none;
    border-radius: 7px;
    z-index: 1002;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

#add-task-prompt h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
}

#edit-task-prompt {
    display: none;
    flex-direction: column;
    border-radius: 7px;
    z-index: 1002;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

#edit-task-prompt h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
}

form {
    height: auto;
    margin-bottom: 1em;
}

#delete-task {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    float: left;
    width: auto;
    cursor: pointer;
    margin-right: auto;
    margin-left: 2px;
    font-size: 0.8em;
}

#delete-task i {
    font-size: 1.7em;
}

form p {
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1em;
    margin-left: 5px;
}

form input {
    border: 0;
    padding: 5px;
    border-bottom: 1.5px rgba(128, 128, 128, 0.311) solid;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

form input:focus {
    outline: none;
    border-bottom: 3px #0c66e4 solid;
}

.prompt-header {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1.5px rgba(128, 128, 128, 0.311) solid;
}

#exit {
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-size: 2em;
}

textarea {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 1.5px rgba(128, 128, 128, 0.311) solid;
    resize: none;
    height: 5em;
    border-radius: 3px;
    margin-bottom: 20px;
}

textarea:focus {
    outline: none;
    border: 2.5px rgba(128, 128, 128, 0.511) solid;
}

input[type="submit"] {
    border: 1.5px rgba(128, 128, 128, 0.311) solid;
    background-color: #448cf1;
    color: white;
    width: auto;
    display: block;
    margin: auto;
    font-size: 1.1em;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1f78f6;
}

.assign-worker {
    background-color: transparent;
    border-radius: 3px;
    border: 1px gray solid;
}

.assign-worker:hover {
    background-color: #0000000a;
}

#assign-worker-prompt {
    display: none;
    border-radius: 7px;
    z-index: 1002;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

#assign-worker-prompt h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
}

#assign-worker-prompt input[type="text"] {
    font-size: 1.15em;
    font-weight: normal;
}

#assign-worker-form {
    margin-top: 15%;
    margin-bottom: auto;
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    z-index: 1000;
}
.autocomplete-suggestion {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: #eaeaea;
}

.nono {
    cursor: default;
}

#dashboard-section-pending .nono:hover {
    background-color: white;
}
#dashboard-section-not-started .nono:hover {
    background-color: white;
}
#dashboard-section-in-progress .nono:hover {
    background-color: white;
}
#dashboard-section-done .nono:hover {
    background-color: white;
}