body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(to bottom right, #06235c, #bda05b);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.login_box {
    width: 24%; 
    height: auto; 
    max-height: 70vh; 
    margin: 0 auto;
    padding: 0.5em;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login-header {
    display: flex;
    justify-content: center;
    gap: 1%;
    text-align: center;
    margin-bottom: 1.5em;
}

#logo {
    max-width: 10%;
    height: auto;
}


.login_box p {
    text-align: center;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

#login-form {
    display: inline-block;
    font-size: 1.2rem;
    min-width: 80%;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}


.form-row input {
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 0.7em;
    padding: 8px 6px;
    width: 100%;
}

input[type="submit"] {
    background-color: #0c66e4;
    color: white;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0054c9;
}

input[type=text]:focus {
    outline: 2px solid #0c66e4;
}

#options {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

a {
    font-size: 0.8rem;
    color: #0c66e4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#show-password {
    display: flex;
    align-items: baseline;
    gap: 5px;
    justify-content: start;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0.5em;
}

.form-row input[type="checkbox"] {
    display: inline-block;
    width: 16px;
}

#show-password label {
    white-space: nowrap; /* Prevents text wrapping to keep it on a single line */
    font-size: 12px; /* (Optional) Adjusts the font size if needed */
}

@media (max-width: 600px) {
    .login_box {
        width: 80%;
    }

    #login-header {
        margin-bottom: 1em;
    }

    .form-row {
        margin-bottom: 1em;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        width: 100%;
    }

    .login_box p {
        font-size: 1em;
    }
}
