{% extends "base.html" %}

{% block style_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/unauthenticated.css') }}">
{% endblock style_headers %}

{% block body %}
<div class="login_box">
    <div id="login-header">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        <h2>Reddam Maintenance System</h2>
    </div>
    <div id="login-form">
        {% block form_content %}{% endblock form_content %}
    </div>
    <div id="options">
        {% block options %}{% endblock options %}
    </div>
</div>
<script>
    function passwordVisibility() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock body %}