{% extends "base.html" %}
{% block style_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authenticated.css') }}">
{% endblock style_headers %}

{% block body %}
<nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
    </div>
    <ul class="general">
        <li class="menu-item"><a href="/dashboard">Dashboard</a></li>
        {% block navbar %}{% endblock navbar %}
    </ul>
    <ul class="settings">
        <li class="menu-item"><a href="/profile">Profile</a></li>
        <li class="menu-item"><a id="logout" href="/logout">Log Out</a></li>
    </ul>
</nav>
{% endblock body %}