{% extends "base_authenticated.html" %}
{% block title %}Dashboard{% endblock title %}
{% block style_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authenticated.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock style_headers %}
{% block content %}
<h1>Dashboard</h1>
<div class="dashboard-content">
    <div class="dashboard-section" id="dashboard-section-pending">
        <div class="section-header">
            <h2>Pending</h2>
        </div>
        <div class="section-content">
            {% block pending %}{% endblock pending %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-not-started">
        <div class="section-header">
            <h2>Not started</h2>
        </div>
        <div class="section-content">
            {% block notstarted %}{% endblock notstarted %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-in-progress">
        <div class="section-header">
            <h2>In progress</h2>
        </div>
        <div class="section-content">
            {% block inprogress %}{% endblock inprogress %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-done">
        <div class="section-header">
            <h2>Done</h2>
        </div>
        <div class="section-content">
            {% block done %}{% endblock done %}
        </div>
    </div>
</div>
<button id="add-task" onclick="addTaskPrompt()"><p style="display: inline; vertical-align: middle;">Add Task</p><span id="plus-sign"> +</span></button>
{% block script %}{% endblock script %}
{% endblock content %}
{% block addTask %}
<div id="overlay" onclick="exitPrompt()"></div>
<div id="add-task-prompt">
    <div class="prompt-header">
        <h2>Create New Task</h2>
        <button id="exit" onclick="exitPrompt()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }}<span style="color: red"> *</span></p>
        {{ form.title() }}
        {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ form.due_by.label }}</p>
        {{ form.due_by() }}
        {% for error in form.due_by.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ form.description.label }}</p>
        {{ form.description() }}
        {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
</div>
{% endblock addTask %}