{% extends "base_authenticated.html" %}
{% block title %}Dashboard{% endblock title %}
{% block style_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authenticated.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock style_headers %}
{% block content %}
<h1>Dashboard</h1>
<div class="dashboard-content">
    <div class="dashboard-section" id="dashboard-section-pending">
        <div class="section-header">
            <h2>Pending</h2>
        </div>
        <div class="section-content">
            {% block pending %}{% endblock pending %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-not-started">
        <div class="section-header">
            <h2>Not started</h2>
        </div>
        <div class="section-content confirmed-section">
            {% block notstarted %}{% endblock notstarted %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-in-progress">
        <div class="section-header">
            <h2>In progress</h2>
        </div>
        <div class="section-content confirmed-section">
            {% block inprogress %}{% endblock inprogress %}
        </div>
    </div>
    <div class="dashboard-section" id="dashboard-section-done">
        <div class="section-header">
            <h2>Done</h2>
        </div>
        <div class="section-content confirmed-section">
            {% block done %}{% endblock done %}
        </div>
    </div>
</div>
<button id="add-task" onclick="addTaskPrompt()"><p style="display: inline; vertical-align: middle;">Add Task</p><span id="plus-sign"> +</span></button>
{% endblock content %}
{% block taskPopups %}
<div id="overlay" onclick="exitPrompt()"></div>
<div id="add-task-prompt">
    <div class="prompt-header">
        <h2>Create New Task</h2>
        <button id="exit" onclick="exitPrompt()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form method="post">
        {{ add_task_form.hidden_tag() }}
        <p>{{ add_task_form.title.label }}<span style="color: red"> *</span></p>
        {{ add_task_form.title() }}
        {% for error in add_task_form.title.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ add_task_form.due_by.label }}</p>
        {{ add_task_form.due_by() }}
        {% for error in add_task_form.due_by.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ add_task_form.description.label }}</p>
        {{ add_task_form.description() }}
        {% for error in add_task_form.description.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ add_task_form.submit() }}
    </form>
</div>
<div id="edit-task-prompt">
    <div class="prompt-header">
        <h2>Edit Task</h2>
        <button id="exit" onclick="exitPrompt()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form id="edit-task-form" method="post">
        
        {{ edit_form.hidden_tag() }}
        <p>{{ edit_form.title_edit.label }}<span style="color: red"> *</span></p>
        {{ edit_form.title_edit() }}
        <p>{{ edit_form.due_by_edit.label }}</p>
        {{ edit_form.due_by_edit() }}
        <p>{{ edit_form.description_edit.label }}</p>
        {{ edit_form.description_edit() }}
        {{ edit_form.submit_edit() }}
    </form>
    <div id="delete-task" onclick="deleteTask()"><i class="fa-solid fa-trash-can" style="color: #000000;"></i>Delete Task</div>
</div>
<div id="assign-worker-prompt">
    <div class="prompt-header">
        <h2>Assign Task</h2>
        <button id="exit" onclick="exitPrompt()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form id="assign-worker-form" method="post">
        {{ assign_worker_form.hidden_tag() }}
        {{ assign_worker_form.worker() }}
        <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
        {{ assign_worker_form.submit() }}
    </form>
</div>
{% endblock taskPopups %}