{% extends "auth_base.html" %}

{% block title %}Log In{% endblock title %}

{% block form_content %}
<p>Log in to continue</p>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-row">
        {{ form.email() }}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-row">
        {{ form.password() }}
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div id="show-password">
        <input name="showpassword" type="checkbox" onclick="passwordVisibility()">
        <label for="showpassword" style="font-size: 12px;">Show Password</label>
    </div>

    <div class="form-row">
        {{ form.submit() }}
    </div>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</form>
<script>
    function passwordVisibility() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock form_content %}

{% block options %}
<p><a href="/forgot_password">Forgot password?</a></p>
<p><a href="/signup">Don't have an account? Sign up</a></p>
{% endblock options %}